{%extends "base.html"%}
{%block title%} Hare Krishna{%endblock title%}

{%block body%}

<div class="container-fluid">
<style> 
    h1{
        position:initial;
        top:3cm;
    }
</style>
   <h1> Welcome in our Ram Krishna Hari Udyog Samuh</h1>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://source.unsplash.com/950x1600/?business,homepage" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">


                    {%endblock body%}